<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box1 {
            width: 100px;
            height: 100px;
            background-color: darkviolet;
            padding: 10px;
            border: 10px yellow solid;

            /*box-sizing 用来设置盒子尺寸的计算方式
                    content-box 默认值 设置内容区大小
                    border-box 宽度和高度是用来设置整个盒子可见框的大小

            */
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="box1"></div>
</body>
</html>